@font-face {
  font-family: "nanumB";
  src: url(./NanumBarunpenB.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nanumB";
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4ca2cd, #67b26f);
}
.wrapper {
  width: 360px;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.progress-wrapper {
  width: 80%;
  height: 12px;
  position: absolute;
  top: 40px;
}
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(200, 200, 200, 0.7);
}
.progress-gauge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4ca2cd;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.gauge1 {
  width: 5%;
}
.gauge2 {
  width: 15%;
}
.gauge3 {
  width: 25%;
}
.gauge4 {
  width: 35%;
}
.gauge5 {
  width: 45%;
}
.gauge6 {
  width: 55%;
}
.gauge7 {
  width: 65%;
}
.gauge8 {
  width: 75%;
}
.gauge9 {
  width: 85%;
}
.gauge10 {
  width: 95%;
}

.question_bottom {
  width: 100%;
}
.question-title {
  text-align: center;
  padding-left: 5px;
  font-size: 25px;
  font-weight: 500;
  margin: 100px 0 100px;
}
.question-answers {
  font-size: 18px;
  font-weight: 300;
}
.answer {
  display: block;
  width: 100%;
  background-color: gainsboro;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.answer:hover,
.answer:focus,
.answer:active {
  background: #5bab9d;
  color: #fff;
}
.small-text {
  font-size: 13px;
}
