@font-face {
  font-family: "nanumB";
  src: url(./NanumBarunpenB.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nanumB";
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4ca2cd, #67b26f);
}
.wrapper {
  width: 360px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.result {
  text-align: center;
}
.result-first {
  margin-top: 25px;
  font-size: 26px;
  font-weight: 700;
}
#result-img {
  margin: 40px 0 10px 0;
  width: 320px;
  height: auto;
  border-radius: 10px;
}
.result-title {
  margin: 15px 0;
  font-size: 34px;
  text-align: center;
  font-weight: 900;
}
.result-text {
  font-size: 18px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.goto,
.share {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 14px 10px 14px;
  background-color: silver;
  border-radius: 20px;
  transition: 0.15s ease-in-out;
  margin-top: 50px;
}
.goto:hover,
.goto:active,
.goto:focus {
  background-color: #4ca2cd;
  color: #fff;
}
.share {
  margin-right: 30px;
}
.share:hover,
.share:active,
.share:focus {
  background-color: #67b26f;
  color: #fff;
}

.modal {
  position: absolute;
  top: -15px;
  left: -70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_content {
  background-color: #67b26f;
  padding: 5px 16px;
  text-align: center;
  border-radius: 15px;
}
.modal_content span {
  font-size: 18px;
  color: #fff;
  margin: 0;
}
.modal_content button {
  margin-top: 5px;
}
.hidden {
  display: none;
}
